<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer container">
    <div class="footer-info">
      <div class="footer-brand">
        <a href="/" class="footer-brand-icon">
          <%-  partial('_partial/icon', {color: '#999'}) %>       
        </a>
        <a class="footer-brand-title"><%= config.title %></a>
      </div>
      <div class="footer-social">
        <%- partial('_partial/social') %>
      </div>
    </div>

    <% if (site.tags.length){ %>
      <div class="footer-tags">
        <%- list_tags({show_count: false, style: 'other', separator: ' '}) %>
      </div>
    <% } %>

    <div class="footer-copy">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    </div>

  </div>
</footer>