<%- partial('_partial/head') %>
<body class="with-menu">
  
  <nav class="menu">
    <div class="menu-brand">
      <a href="/" title="Kevin Wan">Kevin Wan</a>
    </div>
    <div class="menu-icon">
      <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" class="svg-inline--fa fa-bars fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"></path></svg>      
    </div>
    <div class="menu-items">
      <a href="/html/">HTML</a> |
      <a href="/css/">CSS</a> |
      <a href="/js/">JavaScript</a> |
      <a href="/jquery/">jQuery</a>
    </div>
  </nav>

  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <main class="container">
    
    <div class="row">
      <div class="col-md-8 blog-main">
        <section class="blog-post"><%- body %></section>
      </div>

      <div class="col-md-4 blog-sidebar">
        <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
          <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
        <% } %>
      </div>


    </div>



  <%- // partial('_partial/mobile-nav', null, {cache: !config.relative_link}) %>
  </main>
  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  <%- partial('_partial/after-footer') %>

</body>
</html>